<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>豆瓣</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header></header>
<div class="container" th:include="::content"></div>
<footer>
    <div class="footer-top">
        <div>©</div>
        <div>2019 douban <a class="link" href="#" title="京ICP备11027288号">京ICP备11027288号</a> 网络视听许可证0110418号 京公网安备110105012274 <a class="link1" href="#">新出发京批字第直150126号</a></div>
    </div>
    <div class="footer-center">违法和不良信息举报 电话：17610209667 邮箱：doubannvgroup.cn</div>
    <div class="footer-bottom">广告合作：adfm@douban.com  FM用户手册  新版说明  我要反馈  豆瓣FM中心</div>
</footer>
</body>
<script src="/js/explore.js"></script>
</html>