<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/css/sign.css">
</head>

<body>
<div class="main">
    <div class="content">
        <div class="top">
            <img src="/images/image34.png" >
            <span>返回</span>
        </div>
        <div class="center">
            <div class="login">密码登陆</div>
            <div class="register">注册</div>
        </div>
        <form action="/register" method="post">
            <input name="name" type="text" placeholder="请输入用户名">
            <input name="password1" type="password" placeholder="请输入密码">
            <input name="password2" type="password" placeholder="请确认密码">
            <input name="mobile" type="text" placeholder="请输入手机号码">
            <div class="button">
                <button type="submit">注册豆瓣</button>
            </div>
        </form>


    </div>
</div>
<script src="/js/sign.js"></script>
</body>
</html>